<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor de Mídia - @BlackAlt</title>
</head>

<body>
    <main>
        <div>
            <h1>Página Principal - Servidor de Mídia</h1>
            <h2><a href="http://localhost:3000/musicas">Músicas</a></h2>
            <h2><a href="http://localhost:3000/jogos">Jogos</a></h2>
            <h2><a href="http://localhost:3000/series">Séries</a></h2>
        </div>
    </main>
</body>

</html>